.filters-wrapper {
  display: flex;
  justify-content: space-between;

  .filters {
    width: 75%;

    .search {
      padding: 7px;
      font-family: 'Oswald', sans-serif;
      font-size: 16px;
      font-weight: 400;
      margin-right: 30px;
    }

    .species {
      padding: 7px;
      font-family: 'Oswald', sans-serif;
      font-size: 16px;
      font-weight: 400;
      margin-right: 30px;
      width: 20%;
    }

    .homeworld {
      padding: 7px;
      font-family: 'Oswald', sans-serif;
      font-size: 16px;
      font-weight: 400;
      margin-right: 30px;
      width: 15%;
    }

    .status {
      padding: 7px;
      font-family: 'Oswald', sans-serif;
      font-size: 16px;
      font-weight: 400;
      margin-right: 30px;
      width: 15%;
    }
  }

  .actions {
    width: 25%;
    .deactivateBtn {
      background-color: #0f8bff;
      color: white;
      padding: 7px;
      border: none;
      font-family: 'Oswald', sans-serif;
      font-size: 16px;
      font-weight: 400;
      border-radius: 3px;
      margin: 0 10px;
    }

    .removeBtn {
      background-color: #bc090c;
      color: white;
      padding: 7px 12px;
      font-family: 'Oswald', sans-serif;
      font-size: 16px;
      font-weight: 400;
      border: none;
      border-radius: 5px;
    }
  }
}
