.characterItem {
  display: flex;
  align-items: center;
  margin: 0;
  background-color: white;
  height: 76px;
  font-size: 15px;
  border-bottom: 1px solid #E5EAF0;

  input {
    margin-left: 2%;
    height: 18px;
    width: 18px;
  }

  .name-wrapper {
    margin: 10px 0;
    margin-left: 2%;
    width: 22%;

    h2 {
      margin: 0;
      font-size: 15px;
    }

    p {
      margin: 3px 0;
      color: #5F6569;
    }
  }

  .birthday {
    width: 15%;
  }

  .planet {
    width: 15%;
    color: black !important;
  }

  .starships {
    width: 18%;

    .singleVehicle {
      margin: 5px 0;
    }
  }

  .status {
    width: 15%;
    color: black !important;

    img {
      width: auto;
      height: 16px;
      margin-right: 10px;
    }
  }

  .actions {
    img {
      height: 18px;
      width: 18px;
      margin: 0 10px;
      cursor: pointer;
    }

    img:first-of-type {
      margin-left: 5px;
    }

    ul {
      position: absolute;
    }
  }
}

.dark {
  background: #F6F8FA;
  color: #8C9193;
}

.edit-user {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;

  .change-name {
    display: flex;
    align-items: center;
    min-width: 700px;

    input {
      margin: 5px 0;
      padding: 5px 10px;
      margin-left: 2.7%;
      border: 1px solid #bac6d8;
      border-radius: 5px;
      font-family: 'Oswald', sans-serif;
      font-size: 14px;
      width: 27%;
    }

    button {
      box-sizing: border-box;
      font-family: 'Oswald', sans-serif;
      font-size: 14px;
      padding: 5px 10px;
      border: 1px solid #bac6d8;
    }
  }

  button {
    background-color: white;
    padding: 5px 10px;
    margin: 0 8px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
  }

  ul {
    display: flex;
    list-style: none;
    justify-content: flex-end;
    width: 100%;

    li {
      background-color: white;
      padding: 5px 10px;
      margin: 5px 8px;
      font-size: 14px;
      cursor: pointer;
      border-radius: 5px;
      border: 1px solid #bac6d8;
    }
  }
}
