.list-wrapper {
  margin-top: 2%;
  box-shadow: 0 0 20px 1px #dbdddf;

  .params {
    background-color: white;
    display: flex;
    align-items: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

    input {
      margin-left: 2%;
      height: 18px;
      width: 18px;
    }

    h4 {
      margin: 9px 0;
    }

    .name {
      width: 25%;
      margin-left: 2%;
      display: flex;
      align-items: center;
      justify-content: space-between;

      img {
        height: 12px;
        width: auto;
        margin-right: 30px;
        cursor: pointer;
      }
    }

    .born,
    .world,
    .transport,
    .status-filter {
      width: 15%;
      display: flex;
      align-items: center;
      justify-content: space-between;

      img {
        height: 12px;
        width: auto;
        margin-right: 30px;
        cursor: pointer;
      }
    }
  }

  .user-list {
    padding: 0;
    margin-top: 3px;
  }
}

.pageNumberWrapper {
  width: 100%;
  display: flex;
  justify-content: flex-end;

  .pageNumber {
    background-color: white;
    font-family: "Oswald", sans-serif;
    font-size: 16px;
    border: 2px solid transparent;
    cursor: pointer;
    margin: 0 5px;
    border-radius: 5px;
    padding: 5px 10px;
    width: 35px;
    position: relative;

    img {
      position: absolute;
      height: auto;
      width: 16px;
      top: 9px;
      left: 7px;
    }

    .next {
      transform: rotate(180deg);
    }
  }

  .pageNumber:hover {
    border-color: black;
  }

  .active {
    cursor: unset;
    border-color: black;
  }
}
