.list-wrapper {
  margin-top: 2%;
  box-shadow: 0 0 20px 1px #dbdddf;

  .params {
    background-color: white;
    display: flex;
    align-items: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

    input {
      margin-left: 2%;
      height: 18px;
      width: 18px;
    }

    h4 {
      margin: 9px 0;
    }

    .name {
      width: 25%;
      margin-left: 2%;
      display: flex;
      align-items: center;
      justify-content: space-between;

      img {
        height: 12px;
        width: auto;
        margin-right: 30px;
        cursor: pointer;
      }
    }

    .born,
    .world,
    .transport,
    .status-filter {
      width: 15%;
      display: flex;
      align-items: center;
      justify-content: space-between;

      img {
        height: 12px;
        width: auto;
        margin-right: 30px;
        cursor: pointer;
      }
    }
  }

  .user-list {
    padding: 0;
    margin-top: 3px;
  }
}
