.main-wrapper {
  max-width: 1400px;
  margin: 0 auto;
  margin-top: 5%;
}

.main-wrapper h1 {
  font-family: Oswald;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  margin: 10px 50px;
}

